#timeButton1 {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1.5em;
    -fx-text-fill: #1a1918;
}

#timeButton2 {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1.5em;
    -fx-text-fill: #1a1918;
}

#appButton {
    -fx-border-width: 0;
    -fx-background-radius: 12;
    -fx-background-color: transparent;
    -fx-border-insets: 1, 1, 1, 1;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: #828282;
}

#appButton:hover {
    -fx-background-color:  rgba(255, 255, 255, 0.15);
    -fx-background-radius: 12;
    -fx-border-insets: 1, 1, 1, 1;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
}

#appButton:pressed {
    -fx-background-color: transparent, lightgray;
    -fx-background-radius: 12;
    -fx-border-insets: 1, 1, 1, 1;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
}

#appBox {
    -fx-background-color: rgba(255, 255, 255, 0);

    -fx-background-radius: 10;
    -fx-border-insets: 1, 1, 1, 1;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
}

#buttonBar {
    -fx-background-color: /*transparent,aliceblue;*/ rgba(255, 255, 255, 0.6);
    -fx-background-radius: 0px;
}

#buttonBarBackGround {
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

#controlButton {
    -fx-background-color: White;
    -fx-background-radius: 28;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
}

#controlButton:hover {
    -fx-background-color: transparent, white;
    -fx-background-radius: 28;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
}

#controlButton:pressed {
    -fx-background-color: transparent, lightgray;
    -fx-background-radius: 25;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
}

#deskButton {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-opacity: 0;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
}

#deskButton:hover {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-opacity: 1;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
}

#deskButton:pressed {
    -fx-background-color: transparent, lightgray;
    -fx-background-radius: 0;
    -fx-opacity: 0;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
}
