@import "../WindowPane.css";

/* 设置tab的样式 */
#tabPane {
    -fx-tab-min-height: 25em;
    -fx-tab-max-height: 25em;

    -fx-tab-min-width: 10em;
    -fx-tab-max-width: 10em;

    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

/* 设置tab卡片的样式 */
.tab {
    -fx-background-color: rgb(255, 255, 255, 0.8);
    -fx-background-radius: 8;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
    -fx-border-radius: 8;
    -fx-padding: 0;
}

/* 设置tab卡片选中的样式 */
.tab:selected {
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-width: 2;
    -fx-border-color: blue;
}

/* 设置tabPane的背景样式 */
.tab-pane .tab-header-background {
    -fx-background-color: transparent;
}

/*------------------------------------------------------*/

/* 设置分割线上方文本的样式 */
#text1 {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 2em;
    -fx-text-fill: black;
    -fx-alignment: center;
}

/* 设置分割线上方文本的样式 */
#text2 {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1.1em;
    -fx-text-fill: black;
    -fx-alignment: center;
}

/*------------------------------------------------------*/

/* 设置内存展示块的样式 */
#memoryInBox {
    -fx-background-color: #10B981;
}

/* 设置已使用内存的样式 */
#memoryInBox1 {
    -fx-background-color: #10B981;
}

/* 设置内存折线图的样式 */
#memoryChart .default-color0.chart-series-line {
    -fx-stroke: #10B981;
}

/*------------------------------------------------------*/

/* 设置设备展示块的样式 */
#deviceInBox {
    -fx-background-color: #F472B6;
}

/* 设置已使用设备的样式 */
#deviceInBox1 {
    -fx-background-color: #F472B6;
    -fx-border-color: white;
}

/* 设置设备折线图的样式 */
#deviceChart .default-color0.chart-series-line {
    -fx-stroke: #F472B6;
}

/*------------------------------------------------------*/

/* 设置磁盘展示块的样式 */
#diskInBox {
    -fx-background-color: #A78BFA;
}

/* 设置已使用磁盘的样式 */
#diskInBox1 {
    -fx-background-color: #A78BFA;
}

/* 设置磁盘折线图的样式 */
#diskChart .default-color0.chart-series-line {
    -fx-stroke: #A78BFA;
}

/*------------------------------------------------------*/

/* 设置pcb展示块的样式 */
#pcbInBox {
    -fx-background-color: #60A5FA;
}

/* 设置新建态pcb的样式 */
#pcbInBox0 {
    -fx-background-color: #E5E7EB;
    -fx-border-color: white;
}

/* 设置就绪态pcb的样式 */
#pcbInBox1 {
    -fx-background-color: #34d399;
    -fx-border-color: white;
}

/* 设置运行态pcb的样式 */
#pcbInBox2 {
    -fx-background-color: #60A5FA;
    -fx-border-color: white;
}

/* 设置阻塞态pcb的样式 */
#pcbInBox3 {
    -fx-background-color: #fcd34d;
    -fx-border-color: white;
}

/* 设置pcb折线图的样式 */
#pcbChart .default-color0.chart-series-line {
    -fx-stroke: #60A5FA;
}

/*------------------------------------------------------*/

/* 设置空块的样式 */
#emptyBox {
    -fx-background-color: white;
}

/* 设置内存使用情况展示块的样式 */
#memoryOutBox {
    -fx-background-color: white;
    -fx-border-color: #047857;
}

/* 设置设备使用情况展示块的样式 */
#deviceOutBox {
    -fx-background-color: white;
    -fx-border-color: #BE185D;
}

/* 设置磁盘使用情况展示块的样式 */
#diskOutBox {
    -fx-background-color: white;
    -fx-border-color: #6D28D9;
}

/* 设置pcb使用情况展示块的样式 */
#pcbOutBox {
    -fx-background-color: white;
    -fx-border-color: #1D4ED8;
}

/*------------------------------------------------------*/

.rec {
    -fx-padding: 4;
    -fx-background-color: white;
     -fx-background-radius: 10;
}

.rec1 {
    -fx-fill: #E5E7EB;
    -fx-stroke: transparent;
    -fx-stroke-width: 10;
}

.rec2 {
    -fx-fill: #34d399;
    -fx-stroke: transparent;
    -fx-stroke-width: 10;
}

.rec3 {
    -fx-fill: #60A5FA;
    -fx-stroke: transparent;
    -fx-stroke-width: 10;
}

.rec4 {
    -fx-fill: #fcd34d;
    -fx-stroke: transparent;
    -fx-stroke-width: 10;
}

.lab {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-alignment: center;
    -fx-font-weight: bold;
}