@import "../../WindowPane.css";

.table-view {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: white;
    -fx-padding: 20px;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: white;
}

.table-view .table-row-cell {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-text-fill: black;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab {
    -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected {
    -fx-background-color: rgb(103, 157, 238);
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}


#currentPath {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}


#flowPane  {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 10px;
}


#treeView {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 10px;
}

.tree-cell {
    -fx-background-color: transparent;
}
