@import "../../WindowPane.css";

/* 设置菜单栏的背景颜色 */
#mainPane MenuBar {
    -fx-background-color: transparent;
}


/* 设置文本区域的样式 */
.text-area {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-border-color: transparent;
}

/* 设置文本区域内部滚动窗格的样式 */
.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/* 设置文本区域内部滚动窗格内容的样式 */
.text-area .scroll-pane .content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
