@import "../../WindowPane.css";

/* 设置tab顶部的样式 */
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

/* 设置tab卡片的样式 */
.tab-pane .tab {
    -fx-background-color: #e6e6e6;
}

/* 设置tab卡片选中的样式 */
.tab-pane .tab:selected {
    -fx-background-color: rgb(103, 157, 238);
}

/* 设置tab卡片文字的样式 */
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#flowPane {
    -fx-background-color: #F9FAFB;
    -fx-border-color: transparent;
    /*-fx-border-radius: 0 0 12 12 ;*/
    /*-fx-background-radius: 0 0  12 12;*/
}

.text-field {
    -fx-background-color: rgba(53, 89, 119, 0.3);
    -fx-border-color: transparent;
}

.text-field .scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.text-field .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.text-field .scroll-pane .content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


#bButton {
    -fx-background-color: rgba(53, 89, 119, 0.4);
    -fx-border-color: rgba(53, 89, 119, 0.2);
    -fx-background-radius: 12 12 12 12;
    -fx-border-radius: 12 12 12 12;
    -fx-background-insets: 0;
}

#bButton:hover {
    -fx-background-color: rgba(53, 89, 119, 0.6);
    -fx-border-color: rgba(53, 89, 119, 0.5);
    -fx-background-radius: 12 12 12 12;
    -fx-border-radius: 12 12 12 12;
    -fx-background-insets: 0;
}

#bButton:pressed {
    -fx-background-color: rgba(53, 89, 119, 0.6);
    -fx-border-color: rgba(53, 89, 119, 0.5);
    -fx-background-radius: 12 12 12 12;
    -fx-border-radius: 12 12 12 12;
    -fx-background-insets: 0;
}