@import "../WindowPane.css";

.button {
    -fx-border-width: 0;
    -fx-background-radius: 12;
    -fx-background-color: white;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em;
    -fx-border-radius: 12;
}


/* 设置tab顶部的样式 */
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

/* 设置tab卡片的样式 */
.tab-pane .tab {
    -fx-background-color: rgb(103, 157, 238);
}

/* 设置tab卡片选中的样式 */
.tab-pane .tab:selected {
    -fx-background-color: #e6e6e6;
}

/* 设置tab卡片文字的样式 */
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}


/* 设置表格的样式 */
.table-view {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 20px;
}

/* 设置表格标题的样式 */
.table-view .column-header, .table-view .filler {
    -fx-background-color: white;
}

/* 设置表格内容的样式 */
.table-view .table-row-cell {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-text-fill: black;
}

/* 设置表格文字的样式 */
.table-view .table-cell {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}

/* 设置表格选中的样式 */
.table-row-cell:selected {
    -fx-table-cell-border-color: transparent;
    -fx-text-fill: black;
}
