@import url("../WindowPane.css");

#tabPane {
    -fx-tab-min-height: 12em;
    -fx-tab-max-height: 12em;

    -fx-tab-min-width: 5em;
    -fx-tab-max-width: 5em;


    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}

.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: #EBEAF0;
}

.tab {
    -fx-background-color: #E5E7EB;
    -fx-border-insets: 0.0;
    -fx-border-radius: 8.0;
    -fx-background-radius: 8 8 8 8;
    -fx-padding: 0 0 0 0;
}

.tab:selected {
    -fx-background-color: #F3F4F6;
    -fx-border-insets: 0.0;
    -fx-border-radius: 8.0;
    -fx-background-radius: 8 8 8 8;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #0058f3;
}

.tab:focused {
    -fx-focus-color: transparent;

    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}

.tab-pane .tab-header-background {
    -fx-background-color: transparent;

    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}


.tab:selected .focus-indicator {
    -fx-border-color: transparent;

    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}


.text-area {
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
    -fx-background-color: white;
    -fx-text-fill: #f30000;
}

.text-area:focused {
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
    -fx-background-color: white;
    -fx-highlight-fill: #60A5FA;
}