@import "../WindowPane.css";

#tabPane {
    -fx-tab-min-height: 22em;
    -fx-tab-max-height: 22em;

    -fx-tab-min-width: 6em;
    -fx-tab-max-width: 6em;


    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}

.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: #EBEAF0;
}

.tab {
    -fx-background-color: #E5E7EB;
    -fx-border-insets: 0.0;
    -fx-border-radius: 8.0;
    -fx-background-radius: 8 8 8 8;
    -fx-padding: 0 0 0 0;
}

.tab:selected {
    -fx-background-color: #F3F4F6;
    -fx-border-insets: 0.0;
    -fx-border-radius: 8.0;
    -fx-background-radius: 8 8 8 8;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #0058f3;
}

.tab:focused {
    -fx-focus-color: transparent;

    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}

.tab-pane .tab-header-background {
    -fx-background-color: transparent;

    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}


.tab:selected .focus-indicator {
    -fx-border-color: transparent;

    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}


#text1 {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;

    -fx-font-size: 2em; /* 12 */
    -fx-text-fill: black;

}

#text2 {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;

    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: black;
}

/*------------------------------------------------------*/

#pcbInBox {
    -fx-background-color: #60A5FA;
}

#pcbInBox0 {
    -fx-background-color: #E5E7EB;
    -fx-border-color: White;
}

#pcbInBox1 {
    -fx-background-color: #34d399;
    -fx-border-color: white;
}

#pcbInBox2 {
    -fx-background-color: #60A5FA;
    -fx-border-color: white;
}

#pcbInBox3 {
    -fx-background-color: #fcd34d;
    -fx-border-color: white;
}

#pcbChart .default-color0.chart-series-line .default-color0.chart-line-symbol.series0 {
    -fx-stroke: #60A5FA;
}

/*------------------------------------------------------*/

#memoryInBox {
    -fx-background-color: #10B981;
}

#memoryInBox1 {
    -fx-background-color: #10B981;
}

/*修改折线的颜色 和 坐标点的样式*/
#memoryChart .default-color0.chart-series-line {
    -fx-stroke: #10B981;
}

/*------------------------------------------------------*/

#deviceInBox {
    -fx-background-color: #F472B6;
}

#deviceInBox1 {
    -fx-background-color: #F472B6;
    -fx-border-color: white;
}

#deviceChart .default-color0.chart-series-line {
    -fx-stroke: #F472B6;
}

/*------------------------------------------------------*/

#diskInBox {
    -fx-background-color: #A78BFA;
}

#diskInBox1 {
    -fx-background-color: #A78BFA;
}

#diskChart .default-color0.chart-series-line {
    -fx-stroke: #A78BFA;
}

/*------------------------------------------------------*/

#emptyBox {
    -fx-background-color: White;
}

#memoryOutBox {
    -fx-background-color: White;
    -fx-border-color: #047857;
}

#diskOutBox {
    -fx-background-color: White;
    -fx-border-color: #6D28D9;
}


#deviceOutBox {
    -fx-background-color: White;
    -fx-border-color: #BE185D;
}

#pcbOutBox {
    -fx-background-color: White;
    -fx-border-color: #1D4ED8;
}
