@import "../WindowPane.css";

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    /*-fx-background-color: derive;*/
    -fx-stroke: transparent;
    -fx-size: 30;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;

}

.table-row-cell:filled:hover {
    -fx-size: 30;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;

}

.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 30;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;

}

.table-view .table-column {
    -fx-border-color: rgba(255, 255, 255, 0.15);
    -fx-border-radius: 8 8 0 0;
    -fx-background-radius: 8 8 0 0;

    -fx-text-alignment: center;
    -fx-alignment: CENTER

}